name: Build

on:
  push:
    branches: [ main, build ]
  pull_request:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build for Linux
        run: |
          docker run --rm -v "$(pwd):/app" -w /app barichello/godot-ci:4.3 \
            godot --headless --export-release "game-linux" ./build/linux/project-epic-footsies-2.x86_64

      - name: Upload Linux build
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: build/linux/

  build-windows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build for Windows
        run: |
          docker run --rm -v "$(pwd):/app" -w /app barichello/godot-ci:4.3 \
            godot --headless --export-release "game-windows" ./build/windows/project-epic-footsies-2.exe

      - name: Upload Windows build
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: build/windows/
