name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  game-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run game checks
        run: |
          docker run --rm \
            -v "${{ github.workspace }}/game:/game" \
            -w /game \
            nixos/nix:latest \
            sh -c "nix --extra-experimental-features 'nix-command flakes' develop -c make check"

  build-windows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build for Windows
        run: |
          docker run --rm \
            -v "${{ github.workspace }}/game:/game" \
            -w /game \
            nixos/nix:latest \
            sh -c "nix --extra-experimental-features 'nix-command flakes' develop -c make build-windows"

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build for Linux
        run: |
          docker run --rm \
            -v "${{ github.workspace }}/game:/game" \
            -w /game \
            nixos/nix:latest \
            sh -c "nix --extra-experimental-features 'nix-command flakes' develop -c make build-linux"
